#loginB{
    max-width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-color: aliceblue;
    border-style: solid;
    color: aliceblue;
    font-size:xx-large;
    margin-left: 2vw;
}
#loginForm{
    height: 50vh;
    width: 100vw;
    margin-left: 27vw;
}

#loginS{
    color: #ec3d68;
    
}